@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fff;
  max-width: 1140px;
  margin: 45px auto;
}

.swiper {
  position: unset !important;
}

.swiper-button-next, .swiper-button-prev {
  top: 130% !important;
  background-color: #f53838;
  border-radius: 50%;
  width: 50px !important;
  height: 50px !important;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 25px !important;
  font-weight: 900;
  color: black;
}
.swiper-button-disabled {
  background-color: #fff;
  border: 2px solid #f53838;
  border-radius: 50%;
}

/* .swiper-button-prev::before {
  content: '';
  background: url('/public/icons/swiper/back.png') center no-repeat !important;
  position: absolute;
  width: 30px !important;
  height: 30px !important;
} */

.swiper-button-prev::after {
  /* display: none; */
}

/* .swiper-button-next::before {
  content: '';
  position: absolute;
  background: url('/public/icons/swiper/next.png') center no-repeat !important;
  width: 30px !important;
  height: 30px !important;
} */

.swiper-button-next::after {
  /* display: none; */
}


.swiper-button-prev {
  left: 90% !important;
}
@media (max-width: 1134px) {
  .swiper-button-prev {
    left: 85% !important;
  }
}
@media (max-width: 992px) {
  .swiper-button-prev {
    left: 80% !important;
  }
}
@media (max-width: 590px) {
  .swiper-button-prev {
    left: 75% !important;
  }
}
@media (max-width: 470px) {
  .swiper-button-prev {
    left: 70% !important;
  }
}
@media (max-width: 388px) {
  .swiper-button-prev {
    left: 65% !important;
  }
}

.swiper-pagination {
  position: absolute;
    width: 200px;
    display: flex;
    align-items: flex-start;
  top: 128% !important;
}

.swiper-pagination-bullet {
  width: 15px !important;
  height: 15px !important;
}

.swiper-pagination-bullet-active {
  width: 35px !important;
  border-radius: 15px !important;
  background-color: #f53838 !important;
}

/*//анимация карты =============================================================*/
#circle-1 {
  animation: fade 1.8s infinite;
}
#circle-2 {
  animation: fade 2.3s ease 0.5s infinite;
}
#circle-3 {
  animation: fade 2.8s ease 1s infinite;
}

/* @keyframes move-heart {
  50% {
    stroke-dashoffset: 60;
  }
} */

@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}